<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>IOT GUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script>type="text/javascript" ;src="{{ url_for('static', filename='script.js') }}">
    </script>

</head>

<body>
    
    <div class="title" id="1">
        <h1 class="title">Sistema de Controle do Ar-Condicionado          
            <hr />
            <br />
    </div>
    
    <div class = "container"> 

        <div>
            <label class="l_lamp">
                <b>Aplicar modo de operação:</b>
            </label>      
          </div>
    
    </div>


    <div class = "container"> 

        <form action="/man" method="post">
           
            <div class="c2div">

            <div class="range">
                <div class="sliderValue">
                  <span>23</span>
                </div>
        <div class="field">
                  <div class="value left">
        16</div>
        <input NAME="TEMP" type="range" min="16" max="26" value={{temp}} steps="1">
                  <div class="value right">
        26</div>
        </div>
        </div>
    </div>   
           
            <div class = "cdiv">
                <input type="submit" id = "man" name="btn_man" value="Manual" class="mybutton">
            </div>          
            </form>





            <form action="/auto" method="post">

             <div class="c2div">
               
                <div class="range">
                    <div class="sliderValues">
                      <span>700</span>
                    </div>
            <div class="fields">
                      <div class="value left">
            0</div>
            <input NAME="POT" type="range" min="0" max="1023" value={{pot}} steps="10">
                      <div class="value right">
            1023</div>
            </div>
            </div>

             </div>   


                <div class = "cdiv">
                    <input type="submit" id = "auto" name="btn_auto" value="Automático" class="mybutton">  
                </div>       
            </form>



    </div>

    <div class="container2">
        <form action="/on" method="post">   

            <div class = "csdiv">
                <input type="submit" id = "on" name="btn_on" value="Ligar aparelho" class="mybutton">
            </div>   
           
         
        </form>
    </div> 
        <div class="container2">

        <form action="/off" method="post">
            <div class = "c3div">
                <input type="submit" id = "off" name="btn_off" value="Desligar aparelho" class="mybutton"> 
            </div>   
              
        </div> 
       </form>  

       
    </div>




          



      



 

    <div class="myButtonImage">
      <button id="close-image"><img src="https://leads2b.com/blog/wp-content/uploads/2020/02/capa-Dashboard-de-vendas.png"
        onclick="window.location.href='http://192.168.1.106:3000/d/UwEzLL9nk/temperatura?orgId=1';"
        ></button>
    </div>

    <script>
        const slideValue = document.querySelector("span");
        const inputSlider = document.querySelector("input");
        inputSlider.oninput = (()=>{
          let value = inputSlider.value;
          slideValue.textContent = "  " + value +" ºC";
          slideValue.style.left = ((value-15.7)*10) + "%";
          slideValue.classList.add("show");
        });
        inputSlider.onblur = (()=>{
          slideValue.classList.remove("show");
        });
      </script>
      
      <script>
        const slideValues = document.querySelector("span");
        const inputSliders = document.querySelector("input");
        inputSliders.oninput = (()=>{
          let values= inputSliders.value;
          slideValues.textContent = "  " + values +" ºC";
          slideValues.style.left = ((values-15.7)*10) + "%";
          slideValues.classList.add("show");
        });
        inputSliders.onblur = (()=>{
          slideValues.classList.remove("show");
        });
      </script>
  </body>

</html>


